{
  "singleQuote": true,
  "arrowParens": "avoid",
  "importOrder": [
    "^react(.*)$",
    "^next(.*)$",
    "^vitest$",
    "^@testing-library/(.*)$",
    "^eslint(.*)$",
    "^@eslint(.*)$",
    "<THIRD_PARTY_MODULES>",
    "(.css)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": ["*.jsonc"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
