{
  "singleQuote": true,
  "arrowParens": "avoid",
  "importOrder": [
    "(.css)$",
    "types$",
    "lib$",
    "assets/(.*)$",
    "layouts$",
    "components$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
