@import "./styles/animation.css";
@import "./styles/nav.css";
@import "./styles/intro.css";
@import "./styles/sidebar.css";
@import "./styles/footer.css";
@import "./styles/articles.css";
@import "./styles/article.css";
@import "./styles/error.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-foreground: black;
  --light-primary-background: rgb(245, 245, 245);
  --light-secondary-background: rgb(229, 229, 229);
  --light-tertiary-background: rgb(212, 212, 212);

  --dark-foreground: rgb(245, 245, 245);
  --dark-primary-background: #121212;
  --dark-secondary-background: rgb(38, 38, 38);
  --dark-tertiary-background: rgb(64, 64, 64);
}

@layer base {
  html,
  body {
    @apply w-full h-auto min-h-screen;
  }

  html {
    @apply font-sans-kr scroll-smooth;

    &:has(.sidebar-btn.active) {
      @apply overflow-hidden;
    }
  }

  body {
    @apply text-light bg-light-primary dark:text-dark dark:bg-dark-primary;
  }

  h1 {
    @apply font-[900];
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-extrabold;
  }

  h1 {
    @apply text-[1.8rem];
  }

  h2 {
    @apply text-[1.64rem];
  }

  h3 {
    @apply text-[1.48rem];
  }

  h4 {
    @apply text-[1.32rem];
  }

  h5 {
    @apply text-[1.16rem];
  }

  h6 {
    @apply text-[1rem];
  }
}

@layer components {
  .page-loading:before {
    @apply w-full h-full content-[""] bg-light-primary dark:bg-dark-primary opacity-bold absolute top-0 left-0 z-0;
  }

  #wrapper,
  .main-wrapper {
    @apply w-full min-h-screen;
  }

  .main-wrapper {
    @apply transition-opacity duration-200;

    #main-header:has(.nav-item:hover) ~ #wrapper &,
    #main-header:has(.article-preview:hover) ~ #wrapper & {
      @apply opacity-off;
    }

    body:has(.sidebar-btn.active) & {
      @apply pointer-events-none;
    }
  }

  .section-wrapper {
    @apply w-full px-4 py-4;
  }

  .section-inner {
    @apply w-full max-w-screen-lg py-8 mx-auto;
  }

  .nav-item {
    @apply h-full px-2 py-1 flex justify-center items-center font-bold opacity-off hover:opacity-bold transition-opacity duration-200;

    &.selected {
      @apply opacity-bold;
    }
  }

  .sidebar-btn {
    & > div {
      @apply w-21 h-18 flex flex-col justify-between items-center;
    }

    span {
      @apply w-full h-4 rounded-full bg-[var(--light-foreground)] dark:bg-[var(--dark-foreground)] transition-all duration-200;
    }

    &.active {
      span {
        &:first-child {
          @apply origin-[0%_0%] rotate-[46.5deg];
        }

        &:nth-child(2) {
          @apply scale-0;
        }

        &:last-child {
          @apply origin-[0%_100%] -rotate-[46.5deg];
        }
      }
    }
  }
}

@layer utilities {
}
