@import "./styles/nav.css";
@import "./styles/sidebar.css";
@import "./styles/articles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-foreground: black;
  --light-primary-background: rgb(245, 245, 245);
  --light-secondary-background: rgb(229, 229, 229);
  --light-tertiary-background: rgb(212, 212, 212);

  --dark-foreground: rgb(245, 245, 245);
  --dark-primary-background: #121212;
  --dark-secondary-background: rgb(38, 38, 38);
  --dark-tertiary-background: rgb(64, 64, 64);
}

@layer base {
  html,
  body {
    @apply w-full h-auto min-h-screen;
  }

  html {
    @apply font-sans-kr;

    &:has(.sidebar-btn.active) {
      @apply overflow-hidden;
    }
  }

  body {
    @apply text-light bg-light-primary dark:text-dark dark:bg-dark-primary;
  }

  h1 {
    @apply font-[900];
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-extrabold;
  }

  h1 {
    @apply text-[1.6rem];
  }

  h2 {
    @apply text-[1.48rem];
  }

  h3 {
    @apply text-[1.36rem];
  }

  h4 {
    @apply text-[1.24rem];
  }

  h5 {
    @apply text-[1.12rem];
  }

  h6 {
    @apply text-[1rem];
  }
}

@layer components {
  #wrapper {
    @apply w-full min-h-screen;
  }

  .main-wrapper {
    @apply w-full min-h-screen;
  }

  body:has(.sidebar-btn.active) .main-wrapper {
    @apply pointer-events-none;
  }

  .section-wrapper {
    @apply w-full px-4 py-4;
  }

  .section-container {
    @apply w-full max-w-screen-lg mx-auto;
  }
}

@layer utilities {
}
